<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work Timer</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <div id="app">
      <timer @completed="addToHistory($event)"></timer>
      <div v-if="history.length" class="history">
        <button id="clear-history" @click="clearHistory">Clear History</button>
        <ul id="history-list">
          <li v-for="entry of history" :key="entry.startedAt">
            {{new Date(entry.startedAt).toLocaleString("de")}} {{entry.task}}
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
